:root {
    --color1: #e39260;
    --color2: #d5415a;
    --darkblue: #16293f;
    --lightblue: #2ea3b8;
    --white: #ffffff;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Extra-Bold';
    src: url(./fonts/Roboto-Black.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: lighter;
}

*,
ul,
ol {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
}

body {
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color1);
    color: var(--white);
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

header figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 40px;
}

header figure img {
    width: 40px;
    height: 0 auto;
    border-radius: 50%;
}

header figcaption {
    font-size: 8px;
}

header nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.checkbtn {
    width: 35px;
    display: none;
    font-size: 40px;
    color: #fff;
}

#check {
    display: none;
}

header nav a {
    color: var(--white);
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
}

header nav a:hover {
    border-bottom: 2px solid var(--white);
}

section {
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1 {
    background-color: var(--darkblue);
    flex-direction: row;
    justify-content: center;
}

.section-1 aside {
    width: 370px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.section-1 h1 {
    font-family: 'Roboto Extra-Bold';
    font-size: 40px;
    color: var(--white);
}

.section-1 p {
    font-size: 15px;
    color: grey;
    margin-bottom: 15px
}

.section-1 button {
    color: var(--color2);
    background-color: inherit;
    border: 2px solid var(--color2);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    align-self: flex-end;
    transition: 0.5s;
}

.section-1 button:hover {
    color: var(--darkblue);
    border: 2px solid transparent;
    background-color: var(--color2);
    cursor: pointer;
}

.section-1 button:active {
    color: var(--color2);
    background-color: inherit;
    border: 2px solid var(--color2);
    transition: 0.1s;
}

.section-1 picture {
    width: 420px;
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 490px) {
    .nav-btns {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 200%;
        top: 100px;
        width: 160px;
        height: 40%;
        transition: .5s ease-in-out;
    }

    .checkbtn {
        display: flex;
        position: absolute;
        right: 60px;
    }
}