:root {
    --color1: #e39260;
    --color2: #d5415a;
    --darkblue: #16293f;
    --lightblue: #2ea3b8;
    --white: #ffffff;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Extra-Bold';
    src: url(./fonts/Roboto-Black.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: lighter;
}

*,
ul,
ol {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
}

body {
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color1);
    color: var(--white);
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

header figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 40px;
}

header figure img {
    width: 40px;
    height: 0 auto;
    border-radius: 50%;
}

header figcaption {
    font-size: 8px;
}

header figcaption a {
    color: inherit;
}

header nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.checkbtn {
    width: 35px;
    display: none;
    font-size: 40px;
    color: #fff;
}

#check {
    display: none;
}

header nav a {
    color: var(--white);
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
}

header nav a:hover {
    border-bottom: 2px solid var(--white);
}

section {
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1 {
    background-color: var(--darkblue);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.section-1 aside {
    width: 370px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.section-1 h1 {
    font-family: 'Roboto Extra-Bold';
    font-size: 40px;
    color: var(--white);
}

.section-1 p {
    font-size: 15px;
    color: grey;
    margin-bottom: 15px
}

.section-1 button {
    color: var(--color2);
    background-color: inherit;
    border: 2px solid var(--color2);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    align-self: flex-end;
    transition: 0.5s;
}

.section-1 button:hover {
    color: var(--darkblue);
    border: 2px solid transparent;
    background-color: var(--color2);
    cursor: pointer;
}

.section-1 button a {
    color: inherit;
}

.section-1 button:active {
    color: var(--color2);
    background-color: inherit;
    border: 2px solid var(--color2);
    transition: 0.1s;
}

.section-1 picture {
    width: 420px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 picture img{
    width: 420px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.section-2 h1 {
    color: var(--color2);
    font-size: 36px;
    font-family: 'Roboto Extra-bold';
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
}

.card {
    width: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card img {
    border-radius: 10px;
    border: 2px solid var(--color2);
    width: 220px;
    height: 150px;
    object-fit: cover;
}

.card p {
    width: 150px;
}

.section-3{
    background-image: url("./img/Nature1_1.webp");
    background-position: center;
    background-size: cover;
}

.section-3 blockquote {
    color: var(--dark);
    font-family: 'Roboto Italic';
    font-size: 36px;
    width: 60%;
}

.section-3 cite {
    font-size: 20px;
}

.section-4 {
    min-height: 200px;
}

.section-4 .callAction {
    color: var(--darkblue);
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    height: 100px;
    padding: 20px;
}

.callAction p {
    font-size: 15px;
    color: var(--light1);
}

.callAction button {
    width: 50px;
    color: var(--darkblue);
    background-color: inherit;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.callAction button a {
    color: var(--darkblue);
    background-color: inherit;
    font-size: 30px;
    transition: 0.5s;
}

.callAction button:hover {
    border: 2px solid var(--darkblue);
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--darkblue);
    color: var(--color2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    position: static;
    bottom: 0;
}

footer a {
    font-size: 20px;
    color: inherit;
}

@media (max-width: 490px) {
    .nav-btns {
        background-color: var(--color2);
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 200%;
        top: 70px;
        width: 160px;
        height: 40%;
        transition: .5s ease-in-out;
    }

    .nav-btns a {
        border-bottom: 2px solid var(--white);
    }

    .checkbtn {
        display: flex;
        position: absolute;
        right: 60px;
    }

    .section-3 blockquote {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    section {
        min-height: 100px;
    }

    .section-1 aside {
        margin: 10px;
    }

    .section-1 h1 {
        text-align: center;
        font-size: 20px;
    }

    .section-1 p {
        font-size: 15px;
    }

    .section-1 button {
        align-self: center;
    }

    .section-1 picture {
        width: 350px;
        height: auto;
    }

    .section-1 picture img{
        width: 350px;
    }

    .section-3 blockquote {
        font-size: 16px;
    }

    .section-3 cite {
        font-size: 10px;
    }

    .section-4 h3 {
        font-size: 12px;
    }

    .section-4 p {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .section-1 picture {
        width: 300px;
        height: auto;
    }

    .section-1 picture img{
        width: 300px;
    }
}